<div class="banner banner-list text-center" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= list.photo.attached? ? cl_image_path(list.photo.key) : 'https://images.unsplash.com/photo-1517021897933-0e0319cfbc28?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ' %>)">
  <h1><%= list.name %></h1>
  <p><%= "#{pluralize(list.movies.count ,"movie")} in this list." %></p>
  <div class="d-flex gap-3">
    <%= link_to "Edit list", edit_list_path(list), class: 'black-btn' %>
    <%= link_to "Delete list", list_path(list), class: 'black-btn', data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete #{list.name}?"} %>
  </div>
</div>
