<div class="banner banner-list text-center"
     style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= list.photo.attached? ? cl_image_path(list.photo.key, :transformation=>[{:height=>800, :width=>1600, :crop=>"fill"},{:effect=>"blur:300"}]) : 'https://images.unsplash.com/photo-1517021897933-0e0319cfbc28?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ' %>)">
  <h1><%= list.name %></h1>
  <p><%= "#{pluralize(list.movies.count ,"movie")} in this list." %></p>
  <div class="d-flex gap-3">
    <%# <%= link_to "Edit list", edit_list_path(list), class: 'black-btn' %>

    <button type="button" class="black-btn" data-bs-toggle="modal" data-bs-target="#exampleModal">
      Edit List
    </button>

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
            <%= render 'lists/form', list: list %>
          </div>
        </div>
      </div>
    </div>

    <%= link_to "Delete list", list_path(list), class: 'black-btn', data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete #{list.name}?"} %>
  </div>
</div>
