<div class="card-bookmark"
     data-aos="flip-right"
     data-aos-duration="1500"
     <%# data-aos-once="true" %>
     style="background-image: url(<%= bookmark.movie.poster_url %>)">
  <div class="card-content">
    <h2 class="card-title"><%= bookmark.movie.title %></h2>
    <p><i class="fa-solid fa-star"></i> <%= bookmark.movie.rating %></p>
    <p class="card-body"><%= bookmark.comment %></p>
    <%= link_to "Delete", bookmark_path(bookmark), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete #{bookmark.movie.title}?"}, class: 'card-btn' %>
    <%#= link_to 'See list', list_path(list), class: 'card-btn' %>
    <%#= link_to 'Delete list', list_path(list), class: 'card-btn delete' %>
  </div>
</div>
